<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiny Star</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    
    <div id="app">
        <div class="container mx-auto">

            <div class="flex">
                <div class="flex-grow"></div>
            </div>

            <div class="flex border-b-2 py-4 border-gray-600" >
                <div class="flex flex-col mx-2 items-center p-4 rounded border-2 border-gray-600 text-gray-600 font-bold" v-for="value in lists.resources">
                    <span class="flex-initial">{{value.name}}</span>
                    <div class="flex-initial">{{resources[value.id]}}</div>
                </div>
                
            </div>
            
            <div class="text-2xl pt-4 text-bold">Robots</div>

            <div class="flex py-4">
                <div class="flex flex-col mx-2 items-center p-4 rounded border-2 border-gray-600 text-gray-600 font-bold hover:bg-gray-600 hover:text-white cursor-pointer">
                    <div class="flex-initial">Regolith Collector</div>
                    <div class="flex-initial">Total: {{robots.regolith_collector}}</div>
                    <div class="flex-initial font-normal text-left">
                        Regolith: {{robots.regolith_collector * 0.2}}/ms <br>
                        Helium-3: {{robots.regolith_collector * 0.05}}/ms
                    </div>
                </div>
            </div>

        </div>   
    </div>

    <script>
        const stats = {
            energy_production: {
                rtg: 10,
                solar_panel: 5,
                wind_turbine: 5
            },
            resource_production: {
                regolith_collector: [
                    {regolith: 0.2}, 
                    {helium3: 0.05}
                ]
            },
            making_costs: {
                solar_panel: [
                    {regolith: 2},
                    {polymer: 1}
                ],
                wind_turbine: [
                    {regolith: 10},
                    {metals: 5}
                ]
            }
        };

        const lists = {
            resources: [
                {id: "regolith", name: "Regolith"},
                {id: "helium3", name: "Helium-3"},
                {id: "metals", name: "Metals"},
            ]
        }

        const app = Vue.createApp({
            data() {return {
                stats: stats,
                lists: lists,
                resources: {
                    regolith: 0,
                    helium3: 0,
                    metals: 0
                },
                robots: {
                    regolith_collector: 0,
                },
                buildings: {
                    rtg: 0,
                    solar_panel: 0,
                    wind_turbine: 0
                }
            }},
            methods: {
                calculate_energy() {}
            }
        });

        app.mount('#app');
    </script>

</body>
</html>